body {
  background-color: lightblue;
}

.parallax {
  /* The image used */
  background-image: url("main.jpg");

  /* Set a specific height */
  height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tlnav{
	background-color: transparent;
}


#intro{
	font-family: monospace;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	color: white;
}
#projects{
	background-color: teal;
	width:100%;
	padding: 20px;

}
.mk-card{
	border:5px solid white;
	border-radius: 5px;
}
.mk-card-img{
	width: 250px;
	height: 200px;
}
.mk-card-body{
	height:250px;
}
.mk-card-pfont-size{
	font-size:12px;
}
hr{
	border:10px solid silver;
}
.thick-border{
	border:2px solid black;
	border-radius:50%;
}
.teams{
	width: 200px;
	height:auto;
}

.large-padding-bottom{
	padding: 20px 0px 100px 0px;
}

.t-white{
	color: white;
}
.gr-header{
	background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
	width: max-width;
	height: auto;
}

.team-pic{
	max-width: 100%;
}

.team-text{
	font-size: 3vw;
}

.main-gradient{
	background: #c31432;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right,#c31432,#240b36);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #c31432,#240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}